.text.display.title {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Segoe UI Bold';
}
.text.title {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Segoe UI Bold';
}
.text.center {
    text-align: center;
}